@media only screen and (max-width: 576px) {
    #heroheader {
        display: none;
    }
}
.highlighted {
    background-color: transparent;
    font-weight: bold;
    color: var(--mud-palette-warning) !important;
}